Настройка исключения временных файлов и папок.

```gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IDE файлы
.vscode/
.idea/

# Allure результаты
allure-results/

# Логи
*.log
